body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}
/*-------------- general  styles ---------------*/
.container {
  margin: 0 6%;
}
.heading2 {
  font-size: x-large;
  text-align: center;
}

.para {
  line-height: 30px;
  letter-spacing: 1px;

}



  /* ------------------- contact ----------------- */
  .contact{
    height: 400px;
    /* background-color: red; */
    text-align: center;
  }
  .contact .para{
    background-color: black;
    color: white;
    padding: 10px 70px;
    font-size: 1.1rem;
  }
  .contact .head{
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .contact .box{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    grid-template-rows: 100px 100px;
    padding: 50px 0;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .contact .innerbox{
    display: flex;
  }
  .contact .faicon{
    font-size: 45px;
    margin: 0 30px;
    color: gold;
  }
  .contact a{
    text-decoration: none;
    color: black;
    }







