/* ===============********** footer Responsive ************=============== */

@media (max-width: 2560px) and (min-width: 1450px) {
  .footer {
    max-width: 1920px;
    margin: auto;
    /* margin: auto; */
  }
  .footer p,li{
    font-size: 1.2rem;
  }

}

@media (max-width: 1225px) and (min-width: 768px) {
}


@media (max-width: 768px){
  .footer .box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .box .child-4 {
    order: -1;
    width: 100%;
    height: auto;
  }
  .footer .box .child-1 {
    width: 30%;
  }
  .footer .box .child-2 {
    width: 30%;
  }
  .footer .box .child-3 {
    width: 30%;
    height: auto;
  }
  .footer img {
    width: 150%;
    height: 250px;
    margin: -40px 0 0 -25px;
  }
  .footer .innerbox {
    height: auto;
  }


}


@media (max-width: 425px) {
  
  .footer li{
    font-size: 0.8rem;
  }
  .footer h4{
    font-size: 1rem;
  }
}
