html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

/*-------------- general  styles ---------------*/
.container {
  margin: 0 5%;
}
.heading2 {
  font-size: x-large;
  text-align: center;
  color: gold;
}

.para {
  line-height: 30px;
  letter-spacing: 1px;
}
iframe {
  width: 100%;
  /* margin: a  uto; */
}


/* ---------------- services ------------------ */
.services {
  /* background-color: red; */
  padding: 20px 0;
}
.services .box {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px 30px;
}
.services .innerbox {
  width: 46%;
  height: 220px;
  border-radius: 200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 0 30px -15px rgb(146, 146, 146);
}
.services .innerbox:hover {
  background-color: rgb(255, 255, 186);
  box-shadow: 0 0 30px 4px gold;

}
.services img {
  width: 100%;
  height: 220px;
  border-radius: 110px 0 0 110px;
  object-fit: cover;
}
.services .text {
  padding: 0 50px 0 25px;
}
.services p {
  font-size: 1.2rem;
}
.services h3 {
  font-size: 1.7rem;
  /* margin:; */
}


