  body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}
/*-------------- general  styles ---------------*/
.container {
  margin: 0 6%;
}
.heading2 {
  font-size: x-large;
  text-align: center;
}

.para {
  line-height: 30px;
  letter-spacing: 1px;

}

/* ----------------- navbar -------------------- */
.navbar {
  background-color: rgb(255, 255, 186);
  transition: 1s ease;
}
.navbar .box {
  height: 100px;
  display: flex;
  align-items: center;
}
.navbar .innerbox {
  width: 33%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .innerbox ul {
  list-style: none;
  align-items: center;
  justify-content: center;
}
.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  cursor: pointer;
}
.navbar li {
  display: inline;
  margin: 0 1rem;
  color: white;
  padding: 1.5rem 0 1.5rem 0;
}
.navbar .innerbox img {
  width: 450px;
  height: 300px;
}
.navbar li:hover {
  cursor: pointer;
  text-decoration: underline gold 30%;
}

.search {
  text-align: center;
  padding: 11px 50px;
  font-size: 15px;
  border: 1px solid gold;
  outline: none;
  border-radius: 40px;
  
}
.search input::placeholder{
  color: rgb(88, 88, 88);
}
.input-icons {
  position: relative;
}

.input-icons i {
  position: absolute;
  right: 1.2px;
  top: 1px;
  padding: 10px 22px 13px 17px;
  background-color: gold;
  border-radius: 0 17px 17px 0;
  color: white;
}
.navbar .box .img {
  width: 90%;
  height: 300px;
  display: none;
  margin: 0 0 0 -14px;
}
